.footer{
    font-size: 0.5em !important;
    font-style: italic !important;
}

.footer a{
    font-style: italic;
}
.github{
    background-image: url(../../assets/github.png);
    padding-left: 40px !important;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0;
    font-size: 0.5em !important;
    background-size: 40px;
    margin-right: 30px !important;
}
.twitter{
    background-image: url(../../assets/twitter.png);
    padding-left: 35px !important;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0;
    font-size: 0.5em !important;
    background-size: 30px;
}